@import '../../global';

.Profile {
  position: relative;
  top: 25%;
  width: 50%;
  margin: auto;
  z-index: 4;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: $border-radius;
  background-color: rgba(2, 2, 2, 0.2);
}

.portrait-wrapper {
  width: 50%;
}

.portrait {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border-color: $secondary-color;
  border-width: .25rem;
  border-style: solid;
  overflow: hidden;
  margin: auto;
}

.avatar {
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  margin-left: -.25rem;
}

.details {
  background-color: $content-background-color;
  border-radius: $border-radius;
  padding: .5rem;

  .about-me {
    margin-left: 1rem;
    border-radius: .5rem;
    color: $secondary-color;
    margin: auto;
  }  

  .school {
    img {
      height: 4rem;
      width: 4rem;
      vertical-align: text-bottom;
    }
  
    .title {
      font-size: 1.5rem;
    }
  }
}

.projects {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex: 1;
  }
}
