@import '../../global';

.Profile {
  position: relative;
  top: 50%;
  width: 60%;
  max-height: 91%;
  transform: translateY(-50%);
  margin: auto;
  z-index: 4;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: $border-radius;
  background-color: rgba(2, 2, 2, 0.2);

  .extra {
    background-color: $content-background-color;
    border-radius: $border-radius;
    padding: .2rem .4rem .1rem .4rem;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: rgba(3, 3, 3, 0.3);;
    }

    img {
      height: 3rem;
      width: 3rem;
      vertical-align: middle;
    }

    .title {
      font-size: 2rem;
      text-decoration: none;
    }
  }
}

.portrait-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.portrait {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border-color: $secondary-color;
  border-width: .25rem;
  border-style: solid;
  overflow: hidden;
  margin: auto;
}

.avatar {
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  margin-left: -.25rem;
}

.details {
  background-color: $content-background-color;
  border-radius: $border-radius;
  padding: .5rem;

  .about-me {
    margin-left: 1rem;
    border-radius: .5rem;
    color: $secondary-color;
    margin: auto;
  }
}

.right {
  width: 50%;
  
  .view-selector {
    display: flex;
    flex-direction: row;
    height: 10%;

    .title {
      flex-grow: 1;
      cursor: pointer;
      overflow: hidden;
    
      &.selected:after {
        content: "";
        display: block;
        width: 50%;
        padding-top: .1rem;
        border-bottom: .2rem solid $secondary-color;
        animation: slideIn .25s 1 ease-out forwards;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 90%;
    justify-content: space-around;
    
    &.invisible {
      display: none;
    }

    .row {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      margin-bottom: 1rem;
      justify-content: space-evenly;      
    }
  }
}

@keyframes slideIn {
  from {
    animation-timing-function: ease-out;
    transform: translateX(-50%);
  }
  to {
    animation-timing-function: ease-out;
    transform: translateX(50%);
  }
}

@media only screen and (max-width: $mobile-width) {
  .Profile {
    margin-top: 2%;
    top: 0%;
    height: fit-content;
    max-height: 91%;
    width: 85%;
    transform: unset;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .portrait-wrapper{
      width: 100%;
    
      .portrait {
        height: 10rem;
        width: 10rem;
      }
    }

    .right {
      width: 100%;
    }
  }
}
