.SocialLink {
  img {
    height: 3rem;
    width: 3rem;
    padding: .25rem;
  }
}

@media only screen and (max-width: 1500px) {
  .SocialLink {
    img {
      height: 2rem;
      width: 2rem;
    }
  }
}
