@import '../../global';

.Gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .sideBar {
    height: 100%;
    width: 25%;
    overflow-y: auto;
    overflow-x: hidden;

    .preview {
      width: 95%;
      margin: auto;
      flex-grow: 1;
      border-radius: .25rem;
      border-color: $primary-color;
      border-width: .2rem;
      border-style: solid;

      .preview-image {
        width: 100%;
      }
    }

    .selected {
      border-radius: .25rem;
      border-color: $secondary-color;
      border-width: .2rem;
      border-style: solid;
    }
  }

  .view {
    height: 100%;
    max-width: 80%;
    margin: auto;

    .selected-image {
      height: 100%;
    }
  }
}